@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Belanosima&family=Kalam:wght@300&family=Lato&family=Poppins:wght@300;400&family=Roboto:wght@100;400;700&family=Ubuntu:wght@300;400&display=swap");
body {
  margin: 0;
  padding: 0;
}
.header ul {
  display: flex;
  list-style: none;
}
.header ul li a {
  color: black;
  text-decoration: none;
}
.header ul li {
  margin: 0 2% 0 0;
}
.header ul li h3 {
  margin: 0;
  font-family: "Kalam", cursive;
  font-size: 20px;
}
.chef-icon {
  width: 30%;
  height: 10%;
  object-fit: cover;
}
.header ul li div {
  display: flex;
  align-items: center;
  width: 10vmax;
}
.header-section-2 {
  margin: 0.8% 0 0 0;
  display: flex;
}
.header-section-2 li a {
  margin: 0 35px 0 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.main-section {
  width: 99.8%;
  height: 89vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.ibb.co/VJGX5vh/top-view-bowl-with-lentils-variety-condiments.jpg");
  background-repeat: no-repeat;
  background-size: 100% 88vh;
  color: white;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 6px;
  font-size: 40px;
}
.main-section div {
  display: flex;
  flex-direction: column;
  margin: -10% 0 0 0;
  align-items: center;
}
.main-section div button {
  background: rgb(47, 188, 155);
  border: none;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  height: 40px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}
.main-section div button:hover {
  background: rgb(47, 176, 188);
  transition: all 0.3s linear;
}
.header-section-3 {
  display: none;
}
.show-navigation {
  flex-direction: column;
  display: none;
  position: absolute;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  left: 0%;
  top: 0%;
  /* border: 2px solid red; */
}
.show-navigation button {
  background: none;
  border: none;
  cursor: pointer;
  width: 10%;
  position: relative;
  left: 85%;
  top: 2%;
}
.show-navigation button img {
  width: 100%;
}
.show-navigation div {
  width: 50%;
  position: relative;
  left: 25%;
  /* top: 5%; */
}
.show-navigation div li {
  margin: 10% 0 0 0;
}
.show-navigation div li a {
  font-size: 25px;
}
#dish-type:focus option:first-of-type {
  display: none;
}
#dish-type {
  border: none;
  background: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding: 3px;
  justify-content: space-around;
  position: relative;
  top: -20%;
  left: -3%;
  width: 30%;
  margin: 1px 0 0 0;
  cursor: pointer;
}
#dish-type:hover {
  border: 1px solid black;
  border-radius: 3px;
}
#meal-type:focus option:first-of-type {
  display: none;
}
#meal-type,#diet-type {
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding: 3px;
  position: relative;
  top: -15%;
  left: 3%;
  width: 30%;
}
#meal-type:hover {
  border: 1px solid black;
  border-radius: 3px;
}
#diet-type {
  left: 9%;
}
#diet-type:hover {
  border: 1px solid black;
  border-radius: 3px;
}
.dropdown-navigation {
  display: flex;
  flex-direction: column;
}
@media (max-width: 700px) {
  .main-section {
    background-image: url("https://i.ibb.co/fXyxrLV/vertical-recipe-image.png");
  }
}
@media (max-width: 821px) {
  .header-section-2 {
    display: none;
  }
  .header ul li div {
    width: 22vmax;
  }
  .header-section-3 {
    display: block;
  }
  .header-section-3 button img {
    width: 100%;
  }
  .header-section-3 button {
    width: 10%;
    background: none;
    border: none;
    position: absolute;
    left: 87%;
    top: 3.5%;
  }
  .show-navigation {
    display: block;
  }
  #dish-type,
  #meal-type,
  #diet-type {
    width: 100%;
    font-size: 20px;
    left: -4%;
  }
}
@media (max-width: 820px) {
  .header-section-3 button {
    top: 2.5%;
  }
  .header-section-3 button {
    width: 7%;
  }
}
